@charset "UTF-8";
* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: calc(100vh-50px);
  background-color: #f7f7f7;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  z-index: 100;
}

.brand-title {
  font-size: 1.5rem;
  margin: 1.5rem;
  margin-left: 2rem;
}

.brand-title a {
  list-style: none;
  text-decoration: none;
  color: #f7f7f7;
  padding: .5rem;
}

.brand-title a:hover {
  color: #888;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li a.active {
  background: #888
}


.navbar-links li form#lang {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin: 0

}
.navbar-links li form select{
  color: white;
  background: #333;
  border:none;
  font-size: 1rem;
  margin: 0

}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 35%;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: .5rem 1rem;
  }
  .navbar-links ul li form select {
    text-align: center;
    text-indent: 0rem;
    text-align-last: center;
  }

  .navbar-links.active {
    display: flex;
    -webkit-transition: 5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
}

footer {
  display: flex;
  position: static;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
  width: 100%;
  background: #333;
  color: #f7f7f7;
}

footer div.bank-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 50%;
}

footer .brand-title {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

footer .brand-title p {
  font-size: .8rem;
  text-align: center;
  margin-bottom: 0.5rem
}

footer ul {
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  font-size: 1rem;
  padding: .5rem;
}
ul.links li a{
  font-size: 0.7rem
}
footer a {
  list-style: none;
  text-decoration: none;
  color: #f7f7f7;
}

footer a:hover {
  color: #888888;
}

footer .black-bar {
  width: 100%;
  font-size: 0.7rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}